#title {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

#wrapper {
    margin: auto;
    border-color: black;
    border-style:dotted;
    height: 500px;
    width: 1200px;
}

div {
    border-color: black;
    border-style: dashed;
    height: 150px;
    width: 150px;
    margin: 10px;
    position: relative;
}